audioop-lts; python_version >= "3.13"
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
comtypes
Flask
gevent
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
packaging
PyAudio
pycparser
pywin32==310; sys_platform == "win32"
pypiwin32==223; sys_platform == "win32"
python-dotenv
pyttsx3
requests
setuptools
soupsieve
SpeechRecognition
standard-aifc
standard-chunk
typing_extensions
urllib3
Werkzeug
wikipedia
zope.event
zope.interface
